{% extends "layout.html" %}
{% block content %}
    <h1>Seat Available Details</h1>
    <div>
    <table class="table table-striped table-dark">
    <thread>
    <tr>
      <th>Available Date</th>
      <th>Hospital</th>
      <th>Place</th>
      <th>Service</th>
      <th>Capacity</th>
      <th>Vaccine</th>
    </tr>
  </thread>
  <tbody>
    {% for row in data %}
       <tr>
      <td>{{ row[0] }}</td>
      <td>{{ row[1] }}</td>
      <td>{{ row[2] }}</td>
      <td>{{ row[3] }}</td>
      <td>{{ row[4] }}</td>
      <td>{{ row[5] }}</td>
    </tr>
    {% endfor %}
  </tbody>
    </table>
  </div>
{% endblock content %}
